﻿
@model gestion_assoc.Models.AddMembreViewModel;
@{
    ViewData["Title"] = "Ajouter un membre";
}

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Membre</h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Moltran</a></li>
                <li><a href="#">Membre</a></li>
                <li class="active">Ajouter un membre</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Ajouter un membre</h3></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form"  method="post" action="Create">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prenom">Prénom</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="prenom" placeholder="Saisir le prénom" asp-for="prenom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="nom">Nom</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="nom" placeholder="Saisir le nom" asp-for="nom">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date de naissance</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" asp-for="date_naiss">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="lieu">Lieu de naissance</label>
                            <div class="col-md-10">
                                <input type="tel" class="form-control" id="lieu" placeholder="Saisir le lieu de naissance" asp-for="lieu_naiss">
                            </div>
                        </div>
                       
                       
                     
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light m-b-5 btn-lg">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div>

</div> <!-- container -->