﻿@model List<gestion_assoc.Models.Domain.Membre>

@{
    ViewData["Title"] = "Liste des membres";
}



<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Membre</h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Moltran</a></li>
                <li><a href="#">Membre</a></li>
                <li class="active">Liste des membres</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des membre</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                         <th>Id</th>
                                        <th>Prénom</th>
                                        <th>Nom</th>                                     
                                        <th>Date de naissance</th>
                                        <th>Lieu de naisssance</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>


                                <tbody>
                                     @foreach (var membre in Model)
                                        {
                                            <tr>
                                                <td>@membre.id</td>
                                                <td>@membre.nom</td>
                                                <td>@membre.prenom</td>
                                                <td>@membre.date_naiss</td>
                                                <td>@membre.lieu_naiss</td>
                                                
                                                
                                                <td class="actions">
                                                    <a href="~/Member/Read/@membre.id" ><i class="fa fa-eye text-success"></i></a>
                                                    <a href="~/Member/Read/@membre.id" class=""><i class="fa fa-pencil text-primary"></i></a>
                                                </td>
                                            </tr>
                                        }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End Row -->


</div> <!-- container -->