﻿@model gestion_assoc.Models.UpdateMembreViewModel;


@{
    ViewData["Title"] = "Infos membre";
}

<!-- Start content -->
<div class="content">
    <div class="wraper container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-light text-center">
                    <div class="bg-picture text-center" style="background-image:url('images/big/bg.jpg')"></div>
                    <div class="profile-info-name">
                        <!-- <img src="images/avatar-1.jpg" class="thumb-lg img-circle img-thumbnail" alt="profile-image"> -->
                        <h3 class="text-dark mb-auto">@Model.nom</h3>
                    </div>
                </div>
                <!--/ meta -->
            </div>
        </div>
        <div class="row user-tabs">
            <div class="col-lg-6 col-md-9 col-sm-9">
                <ul class="nav nav-tabs tabs">
                    <li class="active tab">
                        <a href="#home-2" data-toggle="tab" aria-expanded="false" class="active">
                            <span class="visible-xs"><i class="fa fa-home"></i></span>
                            <span class="hidden-xs">Infos</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#profile-2" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-user"></i></span>
                            <span class="hidden-xs">Activité</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#settings-2" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-cog"></i></span>
                            <span class="hidden-xs">Paramètres</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="tab-content profile-tab-content">
                    <div class="tab-pane active" id="home-2">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Personal-Information -->
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Informations de membre</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="about-info-p">
                                            <strong>Nom </strong>
                                            <br />
                                            <p class="text-muted">@Model.nom</p>
                                        </div>
                                        <div class="about-info-p">
                                            <strong>Prénom</strong>
                                            <br />
                                            <p class="text-muted">@Model.prenom</p>
                                        </div>
                                        <div class="about-info-p">
                                            <strong>Date de naissance</strong>
                                            <br />
                                            <p class="text-muted">@Model.date_naiss</p>
                                        </div>
                                        <div class="about-info-p">
                                            <strong>Lieu de naissance</strong>
                                            <br />
                                            <p class="text-muted">@Model.lieu_naiss</p>
                                        </div>
                                       
                                    </div>
                                </div>
                                <!-- Personal-Information -->

                            </div>

                        </div>
                    </div>




                    <div class="tab-pane" id="profile-2">
                        <!-- Personal-Information -->
                        <div class="panel panel-default panel-fill">

                            <div class="panel-body">
                                <div class="timeline-2">
                                    <div class="time-item">
                                        <div class="item-info">
                                            <p><a href="" class="text-info">Sophie Diop</a> a participer à la cotisation de l'association <a href="#" class="text-success">Tandarma</a>.</p>
                                            <!-- <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Personal-Information -->
                    </div>



                    <div class="tab-pane" id="settings-2">
                        <!-- Personal-Information -->
                        <div class="panel panel-default panel-fill">
                            <div class="panel-heading">
                                <h3 class="panel-title">Modifier Membre</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" method="post" action="Read">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="id">Id</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="id" asp-for="id" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="nom">Nom</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="nom" placeholder="Saisir le nom " asp-for="nom">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="prenom">Prénom</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="prenom" placeholder="Saisir le prenom" asp-for="prenom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="date_naiss"></label>
                                        <div class="col-md-10">
                                            <input type="date" class="form-control" id="date_naiss" placeholder="Date de naissance" asp-for="date_naiss">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="lieu_naiss">Lieu de naissance</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="lieu_naiss" placeholder="Lieu de naissance" asp-for="lieu_naiss">
                                        </div>
                                    </div>
                                   
                                    <div class="container">
                                        <div class="row">
                                            <div class="col text-center">
                                                <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light m-b-5 btn-lg">Modifier</button>
                                                <button type="submit" class="btn btn-danger btn-custom waves-effect waves-light m-b-5 btn-lg" asp-action="Delete" asp-controller="Membre">Supprimer</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!-- Personal-Information -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->

</div> <!-- content -->