﻿@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Bienvenue !</h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Ges Assoc</a></li>
                <li class="active">Tableau de bord</li>
            </ol>
        </div>
    </div>

    <!-- Start Widget -->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-info"><i class="ion-cash"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">10</span>
                    Bureau
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-purple"><i class="ion-calendar"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">7</span>
                    Activités
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-success"><i class="ion-person-stalker"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">300</span>
                    Membres
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow">
                <span class="mini-stat-icon bg-primary"><i class="ion-ios7-people"></i></span>
                <div class="mini-stat-info text-right text-muted">
                    <span class="counter">20</span>
                    Associations
                </div>
            </div>
        </div>
    </div>
    <!-- End row-->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img src="~/images/image1.jpg" alt="" width="800">
            </div>
        </div>
    </div>
</div> <!-- container -->