﻿@{
    Layout = null;
}

@{
    ViewData["Title"] = "Bienvenue";
}


<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Cover Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link href="~/css/cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Gestion Association</h3>
            </div>
        </header>

        <main class="px-3">
            <h1>Bienvenue !!!</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde eaque dolorem accusamus laborum voluptate repudiandae aliquid eligendi? Laudantium voluptatum voluptas quisquam reiciendis commodi iure quae et incidunt nihil. Ut, labore.</p>
            <p class="lead">
                <a asp-controller="Home" asp-action="Login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Entrez</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white"></a>.</p>
        </footer>
    </div>



</body>
</html>
