﻿@model gestion_assoc.Models.AddAssociationViewModel

@{
    ViewData["Title"] = "Ajouter une association";
}

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Association</h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Ges Assoc</a></li>
                <li><a href="#">Association</a></li>
                <li class="active">Ajouter une association</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Ajouter une association</h3></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="Create">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="nom">Nom</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="nom" placeholder="Saisir le nom de l'association" asp-for="Nom">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="date_crea">Date de création</label>
                            <div class="col-md-4">
                                <input type="date" class="form-control" id="date_crea" asp-for="Annee_Creation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="tel1">Téléphone 1</label>
                            <div class="col-md-4">
                                <input type="tel" class="form-control" id="tel1" placeholder="Saisir le numéro de téléphone 1" asp-for="Tel_1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="tel2">Téléphone 2</label>
                            <div class="col-md-4">
                                <input type="tel" class="form-control" id="tel3" placeholder="Saisir le numéro de téléphone 2" asp-for="Tel_2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="email">Email</label>
                            <div class="col-md-4">
                                <input type="email" class="form-control" id="email" placeholder="Saisir le numéro l'email' de l'association" asp-for="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="adrr">Adresse</label>
                            <div class="col-md-4">
                                <textarea asp-for="Adresse" id="adrr" placeholder="saisir l'adresse de votre association'" class="form-control">
                                </textarea>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light m-b-5 btn-lg">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div>
</div> <!-- container -->