﻿@model gestion_assoc.Models.AddActivitesViewModel;

@{
    ViewData["Title"] = "Ajouter une activité";
}

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Activité</h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Moltran</a></li>
                <li><a href="#">Activité</a></li>
                <li class="active">Ajouter une activité</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Ajouter une activité</h3></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="Create">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="libelle">Libellé</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="libelle" placeholder="Saisir le libellé"  asp-for="libelle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Type d'activité</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="libelle" placeholder="Saisir le libellé"  asp-for="type_activite">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date de début</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="date_debut" asp-for="date_debut">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date de fin</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="date_fin" asp-for="date_fin">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="besoins">Besoins</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" id="besoins" asp-for="besoin"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="lieu">Lieu</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="lieu" placeholder="Saisir le lieu" asp-for="lieu">
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light m-b-5 btn-lg">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div>

</div> <!-- container -->
